<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plzy.ldap.modules.client_access_log.mapper.TLdapClientAccessLogMapper">

    <resultMap id="BaseResultMap" type="com.plzy.ldap.modules.client_access_log.domain.TLdapClientAccessLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="domain" column="domain" jdbcType="VARCHAR"/>
            <result property="hostname" column="hostname" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="accessTime" column="access_time" jdbcType="TIMESTAMP"/>
            <result property="sysName" column="sys_name" jdbcType="VARCHAR"/>
            <result property="sysArch" column="sys_arch" jdbcType="VARCHAR"/>
            <result property="sysVersion" column="sys_version" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,domain,
        hostname,ip,access_time,
        sys_name,sys_arch,sys_version,
        level,action,details
    </sql>
    <select id="list" resultType="com.plzy.ldap.modules.client_access_log.dto.LdapClientAccessLogDTO">
        select d.`name` as domain,d.dn as domain_dn,d.domain_name,o.`name` as ou_name,o.dn as ou_dn,l.* from t_ldap_client_access_log l, t_ldap_domain d,t_ldap_ou o where l.domain_id=d.id and l.ou_id=o.id
        <if test="domainId != null">
            and l.domain_id=#{domainId}
        </if>
        <if test="uid != null">
            and l.uid=#{uid}
        </if>
        <if test="userName != null">
            and l.user_name like concat('%',#{userName},'%')
        </if>
        <if test="startTime != null">
            and l.access_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and l.access_time &lt;= #{endTime}
        </if>
        <if test="level != null">
            and l.level=#{level}
        </if>
        <if test="action != null">
            and l.action=#{action}
        </if>
        <if test="ip != null and ip!=''">
            and l.ip like concat('%',#{ip},'%')
        </if>
        <if test="hostname != null and hostname!=''">
            and l.hostname like concat('%',#{hostname},'%')
        </if>
        <if test="sysName != null and sysName!=''">
            and l.sys_name like concat('%',#{sysName},'%')
        </if>

        order by access_time desc
    </select>
    <select id="getHostInfoByFqdn" resultType="com.plzy.ldap.modules.client_access_log.domain.TLdapClientAccessLog">
        select l.*, o.dn as ou_name from
            (select * from t_ldap_client_access_log where hostname=#{fqdn} order by access_time desc limit 0,1) l
                left join t_ldap_ou o on l.ou_id=o.id
    </select>
    <select id="statSysArch" resultType="java.util.Map">
        select sys_arch as `key`,count(1) as `value` from
            (select hostname,sys_arch from t_ldap_client_access_log where domain_id=#{domainId} group by hostname,sys_arch) t group by sys_arch
    </select>
    <select id="statLoginIn7d" resultType="java.lang.Integer">
        select count(1) FROM
            (select DISTINCT uid from t_ldap_client_access_log where domain_id=#{domainId} and  access_time>=date_sub(curdate(),Interval 7 day)) o
    </select>
    <select id="statClientVersion" resultType="java.util.Map">
        select client_version as `key`,count(1) as `value` from
            (select hostname,client_version from t_ldap_client_access_log where domain_id=#{domainId}  group by hostname,client_version) o group by client_version
    </select>
    <select id="statSysVersion" resultType="java.util.Map">
        select sys_version as `key`,count(1) as `value` from
            (select hostname, sys_version from t_ldap_client_access_log where domain_id=#{domainId} group by hostname, sys_version) t GROUP BY sys_version
    </select>
    <select id="getIpList" resultType="java.lang.String">
        select DISTINCT ip from t_ldap_client_access_log where domain_id=#{domainId}
    </select>
    <select id="groupByOu" resultType="com.plzy.ldap.modules.client_access_log.domain.TLdapClientAccessLog">
        select o.dn as ou_dn,l.* from(
                                select ou_id,hostname from t_ldap_client_access_log where domain_id=#{domainId}
                                GROUP BY ou_id,hostname) l left join t_ldap_ou o on l.ou_id=o.id
    </select>
</mapper>
