<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plzy.ldap.modules.dict.mapper.TSysDictRecordsMapper">

    <resultMap id="BaseResultMap" type="com.plzy.ldap.modules.dict.domain.TSysDictRecords">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dictItemId" column="dict_item_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="comments" column="comments" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dict_item_id,code,
        value,comments
    </sql>
</mapper>
